# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Plugins build artifacts
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.DotSettings.user

# OS files
Thumbs.db
Desktop.ini

# Logs and temp
*.log
*.tmp
*.pdb
